.nav{
  margin-bottom: 10px;
  margin-top: 10px;
}
.jum-b{
  background-color: #03a9f4;
  text-align: center;
}
.jumbotron h1 {
  color: #FFF;
  text-shadow: 1px 1px #000, 2px 2px #000;
}
.jumbotron p, small {
  color: #FFF;
}

em {
  color: #000000;
  text-shadow: 1px 1px #FFF, 2px 2px #FFF;
}