

body{
  margin-top:110px;
}
.sec{
  padding-bottom: 6px;
}

.container{

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn{ 
  display: block;
  margin-left: auto;
  margin-right: auto;


}

}

