<div class="wrapper">
  <h2 class="city">{{weatherClass?.cityName}}</h2>
  <h1 class="temperature">{{weatherClass?.temp}}&deg;</h1>
  <h4 class="description">{{weatherClass?.type}}</h4><br>
  <img src="http://openweathermap.org/img/w/{{weatherClass?.img}}.png"><br>
  <h4 class="description">Rüzgar Hızı: {{weatherClass?.speed}} km/s</h4>
  <h4 class="description">Basınç: {{weatherClass?.pressure}} hPa</h4>
  <h4 class="description">Nem: %{{weatherClass?.humidity}}</h4>
  
  <div class="pan">
    <div class="into temp">
      <h4 class="tempMax tempM">En yüksek sıcaklık: {{weatherClass?.tempMax}}&deg;</h4>
      <h4 class="tempMin tempM">En düşük sıcaklık: {{weatherClass.tempMin}}&deg;</h4>
    </div>
  </div>
</div>
<input type="button" value="Geri" class="btn btn-danger" (click)="back()">
